# Node
node_modules/
dist/
.angular/
.npm/

# Python
venv*/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/

# Data
data/uploads/*
data/results/*
!data/uploads/.gitkeep
!data/results/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
